.dialog{
  margin-bottom: 10px;
  position: relative;

  & a{
    text-decoration: none;
    color: white;
    margin-left: 6px;
    position: absolute;
    top: 0;
  }

  & img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

  }
  .active{
    color: gold;
  }
}
