nav {
	grid-area: n;
	background: burlywood;
	padding: 10px;

	.items{
		margin-bottom: 5px;

		 a{
			text-decoration: none;
			color: #fff;
		}

		 a.activeLink{
			color: gold;
		}
	}

	.itemSettings{
		margin-top: 15px;
		color: green;
	}

	.itemFriends{
		margin-top: 30px;

		div{
			display: grid;
			grid-template-columns: repeat(3, 1fr);

		}

		.itemFriendsLink{
			font-size: 30px;
		}
	}
}
